/*
body {
    background-image: linear-gradient(120deg, black, rgb(49, 0, 76));
}
*/

:root {
    --background-start: rgb(255, 255, 255);
    --background-end: rgb(255, 255, 255);
    --text-color: #111111;
    --menu-bg: #ececec;
    --menu-bg1: #ffffff00;
    --menu-shadow: rgba(255, 255, 255, 0.1);
    --project-bg: #ececec;
    --project-img-bg: #eaeaea;
    --footer-color: #6f6f6f;
    --foot-color: #efefef;
    --link-color: #161616;
    --link-hover-scale: 1.07;
    --img-shadow: rgba(59, 59, 59, 0.25);
    --active-color: #000000;
    --menu-margin-line: #d2d2d2;
    --menu-bg2: #f0f0f0;
    --contact-footer: #5f5f5f;
    --footer-placeholder-color: #38383898;
}

.darkmode {
    --background-start: #191919;
    --background-end: #141414;
    --text-color: #ffffff;
    --menu-bg: rgb(143, 143, 143, 0.2);
    --menu-shadow: rgba(255, 255, 255, 0.1);
    --project-bg: #333333;
    --project-img-bg: #444444;
    --footer-color: #292929;
    --link-color: #cccccc;
    --link-hover-scale: 1.07;
    --img-shadow: rgba(255, 255, 255, 0.1);
    --active-color: #ffffff;
    --menu-margin-line: rgb(102, 102, 102, 0.5);
    --menu-bg2: #121212;
    --contact-footer: #0c0c0c;
    --footer-placeholder-color: #a3a3a3cf;
}

body {
    background-image: linear-gradient(120deg, var(--background-start), var(--background-end));
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../img/layer1.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    aspect-ratio: 900/470;
    min-height: 470px;
    width: 100%;
    position: relative;
    box-shadow: 0 0 10px var(--img-shadow);
}

.darkmode .hero {
    background-image: url('../img/layer2.svg');
}

.info {
    display: flex;
    justify-content: center;
    gap: 5rem;
    position: relative;
    z-index: 1;
}

.wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.links {
    display: flex;
    font-size: 30px;
    text-align: start;
    gap: 0.5rem;
}

.link a i {
    margin-top: 23px;
    color: var(--link-color);
    transition: transform 0.2s ease-in-out, text-shadow 0.2 ease-in-out;
}

.link a i:hover {
    transform: scale(var(--link-hover-scale));
    text-shadow: 0 4px 10px var(--img-shadow);
}

.img img {
    box-shadow: 0 0 10px var(--img-shadow);
    border-radius: 20px;
    rotate: 5deg;
    transition: transform 0.2s ease-in-out, rotate 0.2s ease-in-out;
}

.img img:hover {
    transform: scale(1.03);
    rotate: 0deg;
}

.title-main h1 {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 10px;
    padding-right: 8px;
    font-size: 55px;
    animation: typing 2s steps(28, end) forwards;
    color: var(--text-color);
}

.info1 span {
    display: flex;
    width: 520px;
    text-align: justify;
    color: var(--text-color);
}

.title-main h1::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.12em;
    height: 4.5rem;
    margin-left: 10px;
    background-color: var(--text-color);
    border-radius: 5px;
    animation: blink-caret 1s step-end infinite;
}

.section {
    margin-top: 75px;
}

.title2 h2 {
    font-size: 20px;
    color: var(--text-color);
}

.skillsInfo {
    display: flex;
}

.divskills {
    padding: 120px 0 120px;
}

.tech {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--text-color);
}

.skillsImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skillsImg1 {
    display: flex;
    margin-top: 70px;
    gap: 1rem;
}

.skillsImg1 .logo img {
    max-width: 500px;
    width: 100%;
    padding: 30px;
    box-shadow: 0 0 2px var(--img-shadow);
    border-radius: 15px;
    opacity: 90%;
    background-color: var(--menu-bg);
    transition: box-shadow 0.3s ease;
}

.skillsImg1 .logo img:hover {
    box-shadow: 0 5px 10px var(--img-shadow);
}

.divs {
    padding-top: 20px;
}

.skillsInfo2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 100px 0 80px;
    gap: 3rem;
}

.aboutMe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.about {
    display: flex;
    flex-direction: column;
    width: 520px;
}

.about .h2 {
    font-size: 40px;
    margin: 10px 0 8px;
    color: var(--text-color);
}

.about .span {
    color: var(--text-color);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.logos span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    color: var(--text-color);
}

.logos {
    transition: transform 0.3s ease-in-out;
}

.logos:hover {
    transform: scale(1.08);
}

.logo img {
    object-fit: contain;
}

.section2 {
    margin-top: 100px;
}

.titlecard1 h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 30px;
    color: var(--text-color);
}

.allCard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.project-row {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--project-bg);
    border-radius: 6px;
    overflow: hidden;
    padding: 20px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-row:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 10px var(--img-shadow);
}

.project-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 500px;
    height: auto;
    background-color: var(--project-img-bg);
    border-radius: 10px;
}

.project-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.project-description {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.project-description h3 {
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--text-color);
}

.project-description p {
    width: 500px;
    line-height: 1.5;
    color: var(--text-color);
}

.redirect {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 0.7rem;
}

.redirect a {
    text-decoration: none;
    color: var(--text-color);
    transition: font-weight 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.redirect a:hover {
    font-weight: 600;
    transform: scale(1.02);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50px);
    transition: all 1s ease-in-out;
}

.up {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-50px);
    transition: all 1s ease-in-out;
}

.left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50px);
    transition: all 1s ease-in-out;
}

.right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(50px);
    transition: all 1s ease-in-out;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0) translateY(0);
}

.link {
    transition-delay: 1800ms;
}
.link:nth-child(2) {
    transition-delay: 2000ms;
}
.link:nth-child(3) {
    transition-delay: 2200ms;
}
.link:nth-child(4) {
    transition-delay: 2400ms;
}

.info1 {
    transition-delay: 1800ms;
}

.about .h2 {
    transition-delay: 200ms;
}
.about span {
    transition-delay: 400ms;
}

.logo {
    transition-delay: 400ms;
}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 0ms;
}
.logo:nth-child(4) {
    transition-delay: 0ms;
}
.logo:nth-child(5) {
    transition-delay: 200ms;
}
.logo:nth-child(6) {
    transition-delay: 400ms;
}

.r:nth-child(2) {
    transition-delay: 200ms;
}
.r:nth-child(3) {
    transition-delay: 400ms;
}

.l:nth-child(2) {
    transition-delay: 200ms;
}
.l:nth-child(3) {
    transition-delay: 400ms;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { opacity: 1 }
    50% { opacity: 0 }
}